/* :root { */

  /* --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700; */

  /* --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-26: 26px;
  --font-size-36: 36px;
  --font-size-44: 44px; */

  /* --line-height-h2: 42.19px; */
  /* --line-height-logo: 30.52px; */
  /* --line-height-table-header: 16.41px; */
  /* --line-height-ptext: 24px; */
  /* --line-height-h4: 18.75px; */
  /* --line-height-h1: 60px; */
  /* --line-height-button: 30px; */
  /* --line-height-link-h4: 36px; */
  /* --line-height-h3: 16px; */
  /* --line-height-item: 26px; */
  /* --line-height-animation: 28px; */

  /* --primary-theme-color: #212121; */
  /* --second-theme-color: #757575; */
  /* --accent-color: #2196F3; */
  /* --background-dark-color: #2f303a; */
  /* --background-light-color: #F5F4FA; */
  /* --white-multi-color: #ffffff; */
  /* --border-portfolio-color: #EEEEEE; */
  /* --svg-fill-color: #AFB1B8; */
  /* --border-header-color:#ececec; */
  
  /* --spacing-percent-01: 0.01em;
  --spacing-percent-02: 0.02em;
  --spacing-percent-03: 0.03em;
  --spacing-percent-06: 0.06em; */

  /* --font-family-primary: 'Roboto', sans-serif;
  --font-family-second: 'Raleway', sans-serif; */

  /* --gap-size-header: 93px;
  --gap-size-header-second: 46px;
  --gap-size-footer-col: 70px;
  --gap-size-header-left: 50px;
  --gap-size-header-left: 50px;
  --gap-size-backdrop: 4px;
  --gap-size-8: 8px;
  --gap-size-10: 10px;
  --gap-size-12: 12px;
  --gap-size-30: 30px; */

/* } */

/* html{
  font-size: 100%;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  color: var(--primary-theme-color);
  font-family: var(--font-family-primary);
} */

/* .container{
  width: 1200px;
  margin: 0 auto;
} */

/* h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h2);
  letter-spacing: var(--spacing-percent-3);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
} */

/* ul {
  list-style-type: none;
} */

/* a{
  text-decoration: none;
} */

/* p{
  display: block;
} */
 
  /* =========== header =========== */

  /* .header-main{
    border-bottom: 1px solid var(--border-header-color) ;
  } */

  /* .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  } */

  /* .header-nav{
    display: flex;
    gap: var(--gap-size-header);
  } */

  /* .header-nav ul{
    font-size: var(--font-size-16);
    display: flex;
    align-items: center;
    gap: var(--gap-size-header-second);
  } */
 
  /* .header-link-nav {
    color: var(--primary-theme-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
  
  /* .header-link-nav-active {
    color: var(--accent-color);
  } */
  
  /* .header-link-nav-active::after {
    position: absolute;
    content: '';
    display: block;
    width: 53px;
    height: 4px;
    top: 76px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4,0,0.2,1);
  } */

  /* .header-link-nav:hover,
  .header-link-nav:focus {
    color: var(--accent-color);
  } */
  
  /* .header-logo {
    font-size: var(--font-size-26);
    line-height: var(--line-height-logo);
    letter-spacing: var(--spacing-percent-3);
    color: var(--primary-theme-color);
    font-family: var(--font-family-second);
    font-weight: var(--font-weight-bold);
  } */

  /* .font-accent {
    color: var(--accent-color);
  } */
  /* .header-contact{
    display: flex;
    gap: var(--gap-size-header-left);
    align-items: center;
  } */

  /* .header-contact-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-size-10);
    } */

  /* .header-contact-link {
    color: var(--second-theme-color);
    fill: var(--second-theme-color);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--spacing-percent-2);
  } */

  /* .header-contact-link:hover,
  .header-contact-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  } */

/* =========== main index =========== */
  /* =========== title =========== */

  .main-title {
    display: flex;
    background: var(--background-dark-color);
    height: 600px; 
    margin: 0 auto;
    text-align: center; 
    align-items: center;  

    /* background image */
    background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/team_backgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;

  }
/* 
  .main-title-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */

  .main-title-content h1{
    color: var(--white-multi-color);
    font-size: var(--font-size-44);
    font-weight: var(--font-weight-extra-bold);
    line-height: var(--line-height-h1);
    letter-spacing: var(--spacing-percent-6);
    width: 44rem; 
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
  }

  .main-title-button {
    color: var(--white-multi-color);
    background-color: var(--accent-color);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-button);
    letter-spacing: var(--spacing-percent-6);
    padding: 10px 42px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    /* cursor: no-drop; */
  }

  /* =========== table with txt =========== */

  .table-description{
    display: flex;
    gap: var(--gap-size-8);
    justify-content: center;
    padding-top: 94px;
  }

  .table-description-content{
    display: flex;
    justify-content: center;
    gap: var(--gap-size-30);
  }

  .table-description-content-item{
    width: 270px;
  }

  .table-svg-icon{
    width: 270px;
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light-color);
    border-radius: 4px;
  }

  .table-description-content-item h3 {
    font-size: var(--font-size-14);
    line-height: var(--line-height-table-header);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--spacing-percent-3);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .table-description-content-item p {
    color: var(--second-theme-color);
    font-size: var(--font-size-14);
    line-height: var(--line-height-ptext);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--spacing-percent-3);
  }


  /* =========== task description =========== */
  .task-description {
    /* text-align: center; */
    background-color: var(--white-multi-color);
    padding: 94px 0px 94px;
  }

  .task-description-content {
    display: flex;
    gap: var(--gap-size-30);
    justify-content: center;
  }

  .task-description-item {
    position: relative;
    width: 370px;
    height: 294px;
  }

  .label {
    position: absolute;
    right: 0;
    margin: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    color: var(--white-multi-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: var(--line-height-table-header);
    letter-spacing: var(--spacing-percent-3);
    text-transform: uppercase;

    

  }

  /* =========== team =========== */

  .team{
    background-color: var(--background-light-color);
    padding: 94px 0px 94px;
  }

  .team-content{
    display: flex;
    gap: var(--gap-size-30);
    justify-content: center;
    align-items: center;
  }
  
  .team-content-item {
    max-width: 270px;
    height: auto;
    overflow: hidden;
    background: var(--white-multi-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  } 

  .content-item-link h4 {
    color: var(--primary-theme-color);
    background-color: var(--white-multi-color);
    font-size: var(--font-size-16);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h4);
    letter-spacing: var(--spacing-percent-3);
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .content-item-link p {
    color: var(--second-theme-color);
    background-color: var(--white-multi-color);
    font-size: var(--font-size-16);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-h4);
    letter-spacing: var(--spacing-percent-3);
    /* padding-bottom: 30px; */
    width: 270px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
  } 

  .team-web {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 30px;
  }

  .team-web-gap:not(:last-of-type) {
    margin-right: 10px;
  }

  .team-web-svg-item {
    fill: var(--svg-fill-color);
    width: 44px;
    height: 44px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .team-web-svg-item:hover,
  .team-web-svg-item:active{
    fill: var(--white-multi-color);
    background-color: var(--accent-color);
  }

  
  /* =========== customers =========== */
  .customers {
    background-color: var(--white-multi-color);
    padding: 94px 0px 94px;
  }

  .customers-content {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: var(--gap-size-30);
  }

  .customers-svg-icon {
    fill: var(--svg-fill-color);
    width: 170px;
    height: 92px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--svg-fill-color);
    border-radius: 4px;
    cursor: pointer;
  }

  .customers-svg-icon:hover,
  .customers-svg-icon:active{
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    fill: var(--accent-color);
  }

  /* =========== portfolio button =========== */

  .portfolio-main{
    padding-bottom: 94px;
  }

  .portfolio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 50px;
  }

  .portfolio-button:not(:last-child){
    gap: var(--gap-size-8);
  }

  .portfolio-button-content{
    display: flex;    
    align-items: center;
    justify-content: center;
  }

  .portfolio-button-item {
    color: var(--primary-theme-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-item);
    letter-spacing: var(--spacing-percent-3);
    border-radius: 4px;
    border: 0;
    background-color: var(--background-light-color);
    padding: 6px 22px;
  }

  .portfolio-button-item:hover,
  .portfolio-button-item:focus,
  .portfolio-button-item:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--white-multi-color);
    background-color: var(--accent-color);
    /* cursor: pointer; */
    cursor: pointer;
  }

  /* =========== portfolio main =========== */

  .portfolio-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-size-30);
  }

  .portfolio-content-item{
    max-width: 370px;
    height: auto;
    background: var(--white-multi-color);
    border: 1px solid var(--border-portfolio-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }

  .portfolio-content-item:hover,
  .portfolio-content-item:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .portfolio-item-link { 
    color: var(--primary-theme-color);
    width: 370px; 
    height: 294px;
  }

  .animation-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .animation {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    color: var(--white-multi-color);
    font-size: var(--font-size-18);
    line-height: var(--line-height-animation);
    letter-spacing: var(--spacing-percent-3);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 45px;
    opacity: 0.9;
  }

  .portfolio-item-link h4 {
    color: var(--color-primary);
    font-size: var(--font-size-18);
    line-height: var(--line-height-link-h4);
    font-weight: var(--font-bold);
    font-family: var(--font-primary);
    letter-spacing: var(--spacing-percent-6);
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
  }
  
  .portfolio-item-link p {
    color: var(--color-secondary);
    font-size: var(--font-16);
    line-height: var(--line-height-button);
    font-weight: var(--font-normal);
    letter-spacing: var(--spacing-percent-3);
    padding-bottom: 20px;
    padding-left: 24px;
  }
  
  .portfolio-item-link:hover .animation {
    transform: translateY(-100%)
  }


  /* =========== FOOTER =========== */

  /* .footer-body {
    background-color: var(--background-dark-color);
  } */

  /* .footer-columns {
    display: flex;
    height: 252px; 
    gap: var(--gap-size-footer-col);
  } */

  /* =========== 1. footer =========== */
  
  /* .footer-one{
    justify-content: center;
    padding-top: 60px;
  }  */
  
  .footer-body-logo {
    color: var(--white-multi-color);
    font-size: var(--font-size-26);
    font-family: var(--font-family-second);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-logo);
    letter-spacing: var(--spacing-percent-3);
  }

  address {
    margin-top: 20px;
  }

  .footer-body-contact-link:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer-body-contact-link {
    color: var(--white-multi-color);
    font-size: var(--font-size-14);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);
    line-height: 24px;
    letter-spacing: var(--spacing-percent-3);
  }
  
  .footer-body-contact-link a {
    color: var(--white-multi-color);
    opacity: 0.6;
    font-weight: var(--font-weight-normal);
  }
  
  .footer-body-contact-link a:hover,
  .footer-body-contact-link a:focus {
    color: var(--accent-color);
    opacity: 1;
  }

  /* =========== 2. footer =========== */

  .footer-two{
    padding-top: 72px;
  }

  .footer-two h3{
    color: var(--white-multi-color);
    text-transform: uppercase;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-primary);
    line-height: var(--line-height-h3);
    letter-spacing: var(--spacing-percent-3);
    padding-bottom: 20px;
  }

  .footer-two ul{
    display: flex;
    justify-content: space-between;
    gap: var(--gap-size-10);
  }

  .footer-icons{
    display: flex;
    justify-content: center;
  }

  .footer-svg{
    fill: var(--white-multi-color);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  
/* =========== 3. footer Newsleter box =========== */
  .footer-newsleter {
    display: flex;
    gap: var(--gap-size-12);
    fill: var(--white-multi-color);
  }

  .footer-input-email:placeholder-shown {
    border: 1px solid var(--second-theme-color);
  }

  .footer-input-email {
  padding: 16px;
  width: 385px;
  height: 50px;
  border: 1px solid var(--second-theme-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: var(--font-size-16);
  }

  .footer-button {
    display: flex;
    align-items: center;
    fill: var(--white-multi-color);
    color: var(--white-multi-color);
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-16);
    line-height: var(--line-height-button);
    text-align: center;
    letter-spacing: var(--spacing-percent-6);
    
    cursor: pointer;
  } 

  .footer-button-text {
    margin-left: 42px;
  }

  .footer-icon-send {
    margin-left: 24px;
    align-items: center;
  }

  .footer-svg:hover,
  .footer-svg:focus,
  .footer-svg:active{
    background-color: var(--accent-color) ;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

/* =========== END FOOTER =========== */
/* ========= BACKDROP ========= */
 
  .backdrop {
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: var(--color-primary);
    background-color: var(--white-multi-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    background-color: var(--white-multi-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal-window-body{
    padding: 40px;
  }

  /* .modal-form {
    padding: 40px;
    display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* width: 100%;
  } */
   
  

  .modal-window-body h4{
    text-align: center;
    padding-bottom: 12px;
    font-size: var(--font-size-20);
    letter-spacing: var(--spacing-percent-3);
    color: var(--primary-theme-color);
    padding-bottom: 12px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
  }

  /* .modal-label {
  } */

  .modal-label label{
    position: relative;
    display: flex;
  }

  .modal-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: var(--gap-size-backdrop);
    text-align: left;
    color: var(--second-theme-color);
    font-size: var(--font-size-12);
    line-height: var(--font-size-14);
    letter-spacing: var(--spacing-percent-01);
  }
  

  .modal-label-input {
    height: 40px;
    width: 448px;
    padding-left: 30px;    
  }
  
  .modal-label svg {
    position: absolute;
    fill: var(--color-bg-dark);
    /* margin-left: 12px; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 32px;
    left: 10px;
   
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* position: absolute;
    right: 421px;
    margin: 14px;
    bottom: 14px;
    left: 15px;
    display: flex;
    align-items: center;
    color: var(--primary-theme-color); */
  }


  /* input {
  } */

  .modal-label textarea {
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    resize: none;
    height: 120px;
    width: 448px;
    margin-bottom: 20px;
  }

  .modal-label-input,
  .modal-label textarea {
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--second-theme-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus,
  .modal-label textarea:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }

  .modal-input input:focus + svg {
    fill: var(--accent-color);
  }

  .modal-input input:focus,
  .modal-label textarea:focus{
    border: 1px solid var(--accent-color);
  }

  /* .policy-wrapper {
  } */
  
  .policy {
    cursor: pointer;
    display: flex;
  }
  
  .policy a {
    text-decoration: underline;
    color: var(--accent-color);
  }
  
  .policy a:hover,
  .policy a:focus {
    opacity: 0.8;
  }
  
  .policy input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    height: 16px;
    width: 15px;
    border: 1px solid var(--primary-theme-color);
    border-radius: 2px;
    background-color: var(--white-multi-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .policy:hover input ~ .checkmark {
  background-color: var(--white-multi-color);
  }

  .policy input:checked ~ .checkmark {
    background-color: var(--accent-color);
    border: none;
  }

  .checkmark-svg {
    display: none;
    opacity: 0;
  }
  
  .policy input:checked ~ .checkmark .checkmark-svg {
    display: block;
    opacity: 1;
  }
  
  .policy-wrapper .policy-text {
    margin: 0 5px;
  }

  .modal-button {
    margin: 30px auto auto auto;
    color: var(--white-multi-color);
    background-color: var(--accent-color);
    font-size: var(--font-size-16);
    font-family: var(--font-family-primary);
    font-weight: var(--font-bold);
    line-height: var(--line-height-button);
    letter-spacing: var(--spacing-percent-6);
    padding: 10px 41px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 200px;
  }

/* ========= END BACKDROP ========= */

/* set no-drop on this where is no link */
  [href="#"] {
  cursor: no-drop;
  }