/* =========== FOOTER =========== */

.footer-body {
    background-color: $colors-background-dark;
  }

  .footer-columns {
    display: flex;
    /* align-content: center; */
    height: 252px; 
    gap: $gap-size-footer-col;
  }

  /* =========== 1. footer =========== */
  
  .footer-one{
    justify-content: center;
    padding-top: 60px;
  } 
  
  .footer-body-logo {
    color: $colors-white-multi;
    font-size: $font-size-26;
    font-family: $font-family-second;
    font-weight: $font-weight-bold;
    line-height: $line-height-logo;
    letter-spacing: $leter-spacing-03;
  }

  address {
    margin-top: 20px;
  }

  .footer-body-contact-link:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer-body-contact-link {
    color: $colors-white-multi;
    font-size: $font-size-14;
    font-family: $font-family-primary;
    font-weight: $font-weight-normal;
    line-height: 24px;
    letter-spacing: $leter-spacing-03;
  }
  
  .footer-body-contact-link a {
    color: $colors-white-multi;
    opacity: 0.6;
    font-weight: $font-weight-normal;
  }
  
  .footer-body-contact-link a:hover,
  .footer-body-contact-link a:focus {
    color: $colors-accent;
    opacity: 1;
  }

  /* =========== 2. footer =========== */

  .footer-two{
    padding-top: 72px;
  }

  .footer-two h3{
    color: $colors-white-multi;
    text-transform: uppercase;
    font-size: $font-size-14;
    font-weight: $font-weight-bold;
    font-family: $font-family-primary;
    line-height: $line-height-h3;
    letter-spacing: $leter-spacing-03;
    padding-bottom: 20px;
  }

  .footer-two ul{
    display: flex;
    justify-content: space-between;
    gap: $gap-size-10;
  }

  .footer-icons{
    display: flex;
    justify-content: center;
  }

  .footer-svg{
    fill: $colors-white-multi;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  
/* =========== 3. footer Newsleter box =========== */
  .footer-newsleter {
    display: flex;
    gap: $gap-size-12;
    fill: $colors-white-multi;
  }

  .footer-input-email:placeholder-shown {
    border: 1px solid $colors-second-theme;
  }

  .footer-input-email {
  padding: 16px;
  width: 385px;
  height: 50px;
  border: 1px solid $colors-second-theme;
  border-radius: 4px;
  font-family: inherit;
  font-size: $font-size-16;
  }

  .footer-button {
    display: flex;
    align-items: center;
    fill: $colors-white-multi;
    color: $colors-white-multi;
    width: 200px;
    height: 50px;
    background-color: $colors-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-16;
    line-height: $line-height-button;
    text-align: center;
    letter-spacing: $leter-spacing-06;
    /* cursor: no-drop; */
    cursor: pointer;
  } 

  .footer-button-text {
    margin-left: 42px;
  }

  .footer-icon-send {
    margin-left: 24px;
    align-items: center;
  }

  .footer-svg:hover,
  .footer-svg:focus,
  .footer-svg:active{
    background-color: $colors-accent ;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }