.header-main{
    height: 80px;
    border-bottom: 1px solid #ececec;
    // border-bottom: 1px solid get-color('border-header') ;
  }

  .navigation {    
      height: 80px;
  }

  .nav  {
    gap: 93px;
    // gap: get-gap('header') ;

    &__logo {
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #212121;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        // font-size: get-font-size('16');
        // font-family: get-font-family('primary'), sans-serif;
        // font-weight: get-font-weight('bold');
        // letter-spacing: get-leter-spacing('03');
        // line-height: get-line-height('31');
    
//   .header-logo {
//     font-size: var(--font-size-26);
//     line-height: var(--line-height-logo);
//     letter-spacing: var(--spacing-percent-3);
//     color: var(--primary-theme-color);
//     font-family: var(--font-family-second);
//     font-weight: var(--font-weight-bold);
//   }

//   .heder-font {
//     color: var(--accent-color);
//   }
    }
    &__logo-font {
        color: #2196F3;

        &--font {
            color: #2196F3;
            // color: get-color('accent');
        }
    }

    &__list {
        gap: 46px;
        // gap: get-gap('header-second');
    }

    &__link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        // font-size: get-font-size('14');
        // font-weight: get-font-weight('light');
        // font-family: get-font-family('primary'), sans-serif;
        // line-height: get-line-height('h3');
        // letter-spacing: get-leter-spacing('02');
        // color: get-color('primary-theme');
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

//   .nav  ul {
//     display: flex;
//     align-items: center;
//     gap: var(--gap-size-header-second);
//   }
 
//   .header-link-nav {
//     color: var(--primary-theme-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
//   .header-link-nav-active {
//     color: var(--accent-color);
//   }
  
//   .header-link-nav-active::after {
//     position: absolute;
//     content: '';
//     display: block;
//     width: 53px;
//     height: 4px;
//     top: 76px;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//     transition: width 250ms cubic-bezier(0.4,0,0.2,1);
//   }

//   .header-link-nav:hover,
//   .header-link-nav:focus {
//     color: var(--accent-color);
//   }
 

//   .header-contact{
//     display: flex;
//     gap: var(--gap-size-header-left);
//     align-items: center;
//   }

//   .header-contact-right a{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: var(--gap-size-10);
//     }

//   .header-contact-link {
//     color: var(--second-theme-color);
//     fill: var(--second-theme-color);
//     font-size: var(--font-size-14);
//     font-weight: var(--font-weight-normal);
//     letter-spacing: var(--spacing-percent-2);
//   }

//   .header-contact-link:hover,
//   .header-contact-link:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//   }