* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
  color: get-color('primary-theme');
  font-family: get-font-family('primary');
}


h2 {
  font-family: get-font-family('primary');
  font-size: get-font-size('36');
  font-weight: get-font-weight('bold');
  line-height: get-line-height('h2');
  letter-spacing: get-leter-spacing('03');
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
}