$colors: (
    'primary-theme':#212121,
    'second-theme': #757575,
    'white-multi': #ffffff,
    'accent': #2196F3,
    'background-dark': #2f303a,
    'background-light': #F5F4FA,
    'border-portfolio': #EEEEEE,
    'border-header': #ececec,
    'svg-fill': #AFB1B8,
);


$font-weight: (
    'normal': 400,
    'light': 500,
    'bold': 600,
    'extra-bold': 700,
);

$font-size: (
    '12': 12px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '26': 26px,
    '36': 36px,
    '44': 44px,
);

$line-height: (
    '16': 16px,
    '1641': 16.41px,
    '1875': 18.75px,
    '24': 24px,
    '26': 26px,
    '28': 28px,
    '30': 30px,
    '3052': 30.52px,
    '36': 36px,
    '4219': 42.19px,
    '60': 60px,
);

$leter-spacing: (
    '01': 0.1em,
    '02': 0.02em,
    '03': 0.03em,
    '06': 0.06em,
);

$font-family: (
    'roboto': 'Roboto', 
    'raleway': 'Raleway',
);

$gap-size: (
    '4': 4px,
    '8': 8px,
    '10': 10px,
    '12': 12px,
    '30': 30px,
    '46': 46px,
    '50': 50px,
    '70': 70px,
    '93': 93px,
);


