$colors: (
    'primary-theme':#212121,
    'second-theme': #757575,
    'white-multi': #ffffff,
    'accent': #2196F3,
    'background-dark': #2f303a,
    'background-light': #F5F4FA,
    'border-portfolio': #EEEEEE,
    'border-header': #ececec,
    'svg-fill': #AFB1B8,
);

$font-weight: (
    'normal': 400,
    'light': 500,
    'bold': 600,
    'extra-bold': 700,
);

$font-size: (
    '12': 12px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '26': 26px,
    '36': 36px,
    '44': 44px,
);

$font-family: (
    'primary': 'Roboto', 
    'second': 'Raleway',
);

$line-height: (
    'h3': 16px,
    'table-header': 16.41px,
    'h4': 18.75px,
    'ptext': 24px,
    'item': 26px,
    'animation': 28px,
    'button': 30px,
    '31': 30px,
    'logo': 30.52px,
    'link-h4': 36px,
    'h2': 42.19px,
    'h1': 60px,
);

$leter-spacing: (
    '01': 0.1em,
    '02': 0.02em,
    '03': 0.03em,
    '06': 0.06em,
);

$gap-size: (
    'backdrop': 4px,
    '8': 8px,
    '10': 10px,
    '12': 12px,
    '30': 30px,
    'header-second': 46px,
    'header-left': 50px,
    'footer-col': 70px,
    'header': 93px,
);
